$color-background: #fff1f0;
$color-border: #ffccc7;
$color-accent1: #ffa39e;
$color-accent2: #ff7875;
$color-accent3: #ff4d4f;
$color-primary: #f5222d;
$color-danger: #cf1322;
$color-warning: #a8071a;
$color-dark: #820014;
$color-text: #5c0011;
