@import '../../styles/color.scss';

.tabs {
    background-color: #fff;
    border: 1px solid $color-border;
    padding: 16px;
  }
  
  .tabList {
    display: flex;
    gap: 16px;
  }
  
  .tab {
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    color: $color-text;
    transition: background-color 0.3s ease;
  
    &:hover {
      background-color: $color-danger;
      color: #fff;
    }
  
    &.active {
      background-color: $color-primary;
      color: #fff;
    }
}